<!DOCTYPE html>
<html>
<head>
    <title>View SOM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>SOM neurons as data prototypes</h1>
        <p>SOM neurons spread out on the data manifold becoming data prototypes.
        You can download the weights of each SOM neuron as a csv file.
        Each row represents a neuron, and each column corresponds to a feature in your original data.
        </p>
        <a href="{{ url_for('static', filename='weights.csv') }}" download>
  <button type="button">Download CSV</button>
        </a>

        <h1>U-matrix</h1>
        <p>This plot is a visualization of the Self-Organizing Map (SOM) trained on your data.
        In this plot, each cell represents a neuron in the map.
        The color of each cell represents its weight distance to its neighbors.
        Islands in this map are clusters in your dataset.</p>
        <img class="my-image" src="{{ graph_file }}" alt="SOM Plot">
        <h1>Component planes</h1>
       <p>Below we show each variable color-coded on the SOM grid.
       These are called component planes.
       If you found clusters in the map above, here you can characterize them in terms of the values your variables take over them.
       {% for plot in variable_plots %}
       <img class="my-image" src="{{ plot }}" alt="Variable Plot">
       {% endfor %}
    </div>
</body>
</html>

